<div class="jumbotron" style="padding-top:1%;margin:10%;margin-top:0%;margin-bottom:0%;background:rgba(255,255,255,0.6);">

<div class="registrationForm" style = "padding:25%;padding-top:0%;padding-bottom:0%">

<%= form_for @user, local: true do |form| %>
  <div class="page-header">
  <h2>Sign Up &nbsp<small>Please fill in the details.</small></h2>
  </div>

  <div class="form-group">

    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp<label for="user_name">Name</label>
    <br>
    <input class="form-control" type="text" name="user[name]" id="user_name" placeholder="Enter Name">
  <!-- </div> -->

  <!-- <div class="form-group"> -->
    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp<label for="user_phone">Phone</label>
    <br>
    <input class="form-control" type="tel" name="user[phone]" id="user_phone" placeholder="Enter Phone Number">
  <!-- </div> -->

  <!-- <div class="form-group"> -->
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp<label for="user_email">Email</label>
    <br>
    <input class="form-control" type="email" name="user[email]" id="user_email" placeholder="Enter Email">
  <!-- </div> -->

  <!-- <div class="form-group"> -->
    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>&nbsp<label for="user_password">Password</label>
    <br>
    <input class="form-control" type="password" name="user[password]" id="user_password" placeholder="Enter Password">
  <!-- </div> -->

  <!-- <div class="form-group"> -->
    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>&nbsp<label for="user_password_confirmation">Confirm Password</label>
    <br>
    <input class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation" placeholder="Enter Password Again">
  </div>

    <!-- <input class="btn btn-default" type="submit" name="commit" value="Create User" data-disable-with="Create User"> -->
    <button type="submit" name="commit" class="btn btn-default center-block" data-disable-with="Create User">Create User</button>
<% end %>

<% if params[:failureMessage] %>
  <br>
  <div class="alert alert-danger" style="text-align:center" role="alert"><%= params[:failureMessage] %></div>
<% end %>

</div>
</div>
