<div class="jumbotron" style="padding:10%;padding-top:1%;margin:10%;margin-top:0%;margin-bottom:0%;background:rgba(255,255,255,0.6);">

  <div class="page-header">
  <h2>Search Results &nbsp<small></small></h2>
  </div>
  <% for user in @users %>
    <div class="well well-lg">
      <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Name : <%= user.first_name + " " + user.last_name %></p>
      <hr>
      <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Phone : <%= user.phone %></p>
      <hr>
      <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email : <%= user.email %></p>
    </div>

  <% end %>

</div>
