<div class="jumbotron" style="padding:10%;padding-bottom:5%;padding-top:1%;margin:10%;margin-top:0%;margin-bottom:0%;background:rgba(255,255,255,0.6);">
  <div class="page-header">
  <h2>Your Details &nbsp<small>Confidential information.</small></h2>
  </div>
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Password Digest:</strong>
    <%= @user.password_digest %>
  </p>

</div>
