<div class="jumbotron" style = "margin-left:5%;margin-right:5%;background:rgba(255,255,255,0.6);">
    <div class="container">

        <h3><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbspAddress</h3>
        <hr />
        <p class="lead"> IIT Jodhpur, Karwar, Jodhpur, Rajasthan</p>
        <button id="addressButton" class="btn btn-default">Pin Code : 342037</button>

        <br>
        <br>

        <h3><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>&nbspEmail</h3>
        <hr />
        <p class="lead">Suggestions and feedback are thoroughly welcomed.</p>
        <button id="emailButton" class="btn btn-default">Mail To : <a class="buttonLink" href="mailto:socialcloud@xyz.com" >socialcloud@xyz.com</a></button>

        <br>
        <br>

        <h3 ><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>&nbspDevelopment Team Contact Numbers</h3>
        <hr />
        <p class="lead">Please feel free to call us anytime, 24 x 7.</p>
        <button id="contactButton" class="btn btn-default" >Contact Numbers : <a class="buttonLink" href="tel:0141-3562834" >0141-3562834</a>,<a class="buttonLink" href="tel:0141-35682104" style="color:white">0141-35682104</a> &nbsp<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></button>
    </div>
</div>
