/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
 @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
.navbar-transparent li a
{
  color: white;
}
.dropdown-menu li a
{
  color:black !important;
}

.thumbnail
{
   background-color:black !important;
}
img
{
   border-radius:10px !important;
}
.caption
{
   color:white !important;
   text-align:center !important;
}
.center_div{
 margin: 0 auto !important;
 width:44% !important;/* value of your choice which suits your alignment */
}
.navbar-transparent li a:hover {
 color: black;
}
.well-lg hr
{
 border-color:yellow;
}
.well-lg
{
 background-color:black !important;
 color:orange !important;
}
.well-sm hr
{
 border-color:yellow;
}
.well-sm
{
 background-color:black !important;
 color:orange !important;
}
.navbar-transparent li a:active {
 color: black;
}
.jumbotron {
 border-radius: 30px !important;
}
[hidden] {
display: none !important;
}
.thumbnail {
 border-radius: 10px !important;
}
.dontHighlightNavBarLink:hover
{
 color:white !important;
 background-color:transparent !important;
}
#brandLogo
{
 color:white;
}
#brandLogo:hover
{
   color:orange;
}
.transparentButton
{
 color:white !important;
 background-color:transparent !important;
}
.transparentButton:hover
{
 color:orange !important;
 background-color:transparent !important;
}
.disabledTransparentButton
{
 color:orange !important;
 background-color:transparent !important;
}
.navbar-toggle .icon-bar
{
 background-color: white;
}
.contactUsButton
{
 color:black !important;
 background-color:orange !important;
}
.contactUsButton:hover
{
 color:gray !important;
 background-color:orange !important;
}
.standardButton
{
 color:black !important;
 background-color:orange !important;
}
.standardButton:hover
{
 color:white !important;
 background-color:orange !important;
}
.buttonLink
{
 color: black !important;
 text-decoration: none;
}
.buttonLink:hover
{
 color: blue !important;
 text-decoration: none;
}
.whiteLink
{
 color:white !important;
 text-decoration: none;
}
.whiteLink:hover
{
 color:orange !important;
 text-decoration: none;
}
